<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#page .menu .browse')
            .popup({
                inline: true,
                hoverable: true,
                position: 'bottom right',
                delay: {
                    show: 300,
                    hide: 800
                }
            });
        $('.ui.secondary.vertical.large.menu .item').click(function() {
            $(this).parent().children().removeClass("active");
            $(this).addClass("active");
        })
        $('.ui.vertical.inverted.sticky.fixed.icon.menu .toggle.button').click(function() {
            $('.ui.left.vertical.menu.sidebar')
                .sidebar('setting', 'transition', 'overlay', '.toggle.button')
                .sidebar('toggle');
        })
        $('.toggle.button')
            .removeClass('disabled');
        $('.ui.dropdown.icon.item').dropdown();
    })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var
                data ={% autoescape off %} {{ data }} {% endautoescape %},
                _getWordData = [],
                mergedCellData,
                cellCount;
            $.each(data, function(name, value) {
                _getWordData.push([name, value]);
            });
            for(var i = 0; i < _getWordData.length; i++){

                var fillInto = "<tr><td>" + _getWordData[i][0] + "</td><td><div class='ui transparent input'><input type='text' placeholder='待填项...' value = " + _getWordData[i][1] + "></div></td><td><div class='ui transparent inpuintype='teplaceholder='待填项...' value></div></td></tr>";
                $('.ui.striped.celled.table tbody').append(fillInto);
            };
            // function GetInfoFromTable(tableid) {
            //  var tableInfo = [];
            //  var tableObj = document.getElementById(tableid);
            //  for (var i = 0; i < tableObj.rows.length; i++) { //遍历Table的所有Row
            //     tableInfo.push([]);
            //   for (var j = 0; j < tableObj.rows[i].cells.length; j++) { //遍历Row中的每一列
            //    tableInfo[i].push([tableObj.rows[i].cells[j].innerText]); //获取Table中单元格的内容
            //   }
            //  }
            //  return tableInfo;
            // }
            // alert(GetInfoFromTable('wordTable'));
            function updateWordData() {
                var temp = {
                    filepath: '{{ filepath }}',
                    lines: $('.ui.striped.celled.table tbody').children().length - 1,
                    };
                for(var i = 0; i < $('.ui.striped.celled.table tbody').children().length+1; i++ ){
                    var x = $('tr:eq('+i+') td').text().toString();
                    var y = $('tr:eq('+i+') td input').val();
                    if (i > 1) {
                        temp[i-2] = [x, y];
                        JSON.stringify(temp[i-2]);
                    }
                }
                return temp;
            }
            $('#save').click(function(){
                $.ajax({
                    url: '/user/updateinfo/word/',
                    type: 'POST',
                    data: updateWordData(),
                    dataType: 'json',
                    traditional: true,
                    async: true
                })
            });
            $('#output').click(function(){
                $.ajax({
                    url: '/user/updateinfo/word/',
                    type: 'POST',
                    data: updateWordData(),
                    dataType: 'json',
                    traditional: true,
                    async: true
                })
            })
        })
    </script>
</head>

<body id="page" class="index pushable" ontouchstart>
    <div class="pusher">
        <div class="full height">
            <div class="ioc short">
                <div class="ui vertical inverted sticky fixed icon menu" id="ioc" style="left: 0px;top: 0px;width: 50px !important;height: 1813px !important;">
                    <div class="item">
                        <a href="../main.html"><i class="users icon"></i></a>
                    </div>
                    <a class="item resources" href="../user.html"> <i class="block layout icon"></i>
                    </a>
                    <a class="item toggle button">
                        <i class="search icon"></i>
                    </a>
                    <a class="item">
                        <rem>W</rem>
                    </a>
                    <a class="item active">
                        <rem>E</rem>
                    </a>
                    <a class="item">
                        <i class="microsoft edge icon"></i>
                    </a>
                </div>
            </div>
            <div class="soc">
                <div class="ui left vertical menu sidebar" style="left: 50px;top: 0px;width: 250px !important;height: 1813px !important;">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="请输入资源名...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div class="ui secondary vertical large menu">
                        <!-- 此处搜索资源 -->
                        <a class="item">资源1 </a>
                        <a class="item">资源2 </a>
                        <a class="item">资源3 </a>
                        <a class="item">资源4 </a>
                        <a class="item">资源5 </a>
                        <a class="item">资源6 </a>
                    </div>
                </div>
            </div>
            <div class="toc">
                <div class="ui vertical sticky fixed menu" style="left: 50px;top: 0px;width: 250px !important;height: 1813px !important;">
                    <div class="ui minimal menu item">
                        <rem>存储资源列表</rem>
                        <button class="ui button tiny">添加</button>
                    </div>
                    <div class="ui secondary vertical large menu">
                        <a class="item">资源1 </a>
                        <a class="item">资源2 </a>
                        <a class="item">资源3 </a>
                        <a class="item">资源4 </a>
                        <a class="item">资源5 </a>
                        <a class="item">资源6 </a>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="ui menu">
                    <div class="right menu">
                        <a href="/user/index/" class="ui item">主页 </a>
                        <a class="ui browse item">账号信息 <i class="dropdown icon"></i></a>
                        <div class="ui fluid popup top left transition">
                            <div class="ui card">
                                <div class="content">
                                    <img class="right floated mini ui image" src="../images/steve.jpg">
                                    <div class="header">账户名称 </div>
                                    <div class="ui  divider"></div>
                                    <div class="extra content">
                                        <div class="ui two buttons">
                                            <a class="ui basic button" href="/user/userinfo/">个人信息</a>
                                            <a class="ui basic button" href="">资源总览</a>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                        <div class="ui two buttons">
                                            <div class="ui green button"><i class="user icon"></i>资料</div>
                                            <div class="ui red button"><i class="sign out icon"></i>注销</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="ui container">
                    <div class="ui top attached menu">
                        <a id="save" class="item">保存... </a>
                        <a class="item" id="output" href="/user/downloadform/?filepath={{filepath}}">导出 </a>
                        <div class="item">
                            <div class="ui slider checkbox">
                                <input type="checkbox" name="autosave"  id="autosave" autocomplete="off">
                                <label>自动保存</label>
                            </div>
                        </div>
                        <div class="right menu">
                            <div class="ui right aligned category search item">
                                <div class="ui transparent icon input">
                                    <input id="prompt" class="prompt" type="text" placeholder="搜寻内容...">
                                    <i class="search link icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <table class="ui striped celled table">
                      <thead>
                        <tr><th>标题</th>
                        <th>内容</th>
                        <th>注</th>
                      </tr></thead>
                      <tbody id="tablebody">
                        <tr>
                            <td>
                                <div class="ui ribbon label">biaodan</div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

